<img src=""/>

<br>

#**Dealing With Various Data Types**

In this tutorial, you will learn about different data types you can use in Python.

##**Data types in Python**

There are various data types in Python. We will consider some of the important regularly used types.

###**Python Numbers**

The **Python Numbers** category consists of:
1. Integers (***int***)
2. Floating point numbers(***float***)
3. Complex numbers(***complex***)
4. String(**str**)
5. List
6. Tuple
7. Set
8. Dictionary

##**Class Notes**

# **Integer**

In [ ]:
a= 10

In [ ]:
type(a)

int

In [ ]:
type(10 + 20)

int

#**Floting Point Numbers**

In [ ]:
b = 10.5

In [ ]:
type(b)

float

In [ ]:
type(10.5 + 7)

float

#**Complex Numbers**

In [ ]:
c = 10 + 5j

In [ ]:
type(c)

complex

#**String**

In [ ]:
d = "mrbriit"

In [ ]:
type(d)

str

In [ ]:
e = "mrbriit"

In [ ]:
f = 'we are learning python data types'

In [ ]:
type(f)

str

#**List**

In [ ]:
grades = [10,30,50,70,80,75.5,50.8,'mrbriit', 'simran', "Ashutosh"]

In [ ]:
type(grades)

list

#**Tuple**

In [ ]:
tuple_items=(10,30,50,70,80,75.5,50.8,'mrbriit', 'simran', "Ashutosh")

In [ ]:
type(tuple_items)

tuple

In [ ]:
grades[0]=100

In [ ]:
grades

[100, 30, 50, 70, 80, 75.5, 50.8, 'mrbriit', 'simran', 'Ashutosh']

In [ ]:
grades[7]='John'

In [ ]:
grades

[100, 30, 50, 70, 80, 75.5, 50.8, 'John', 'simran', 'Ashutosh']

In [ ]:
tuple_items

(10, 30, 50, 70, 80, 75.5, 50.8, 'mrbriit', 'simran', 'Ashutosh')

In [ ]:
tuple_items[9]='Mercy'

TypeError: ignored

Tuple is **immutable** BUT lits is **mutable**

#**Set**

an unordered collection of **unique** items

In [ ]:
 h = {1,2,3, 7,15,25,3.5}

In [ ]:
type(h)

set

#**Dictionay**

An unordered collection of items: **Keys-Value Pair**

In [ ]:
dict = {'Name':'MrBriit','Favorite Fruits':'Apple','Color':'Blue'}

In [ ]:
type(dict)

dict

In [ ]:
dict['Color']

'Blue'

In [ ]:
dict['Name']

'MrBriit'

In [ ]:
dict['Favorite Fruits']

'Apple'

##**More Organised Notes(Same as above, you can skip it and go to "Working With Python Data types")**

####**1. Integers(int)**

In [ ]:
a=10

We can use the Python **type()** to check the data type.

In [ ]:
type(a)

int

we can see from above that the variable **a** was assigned an ***integer value.***

####**2. Floating point numbers(float)**

In [ ]:
b=10.75

In [ ]:
type(b)

float

we can see from above that the variable **b** was assigned a ***floating point number.***

####**3. Complex numbers(complex)**

In [ ]:
c = 10+5j

In [ ]:
type(c)

complex

we can see from above that the variable **c** was assigned a ***complex number***.

<br>

###**Python List**

Python List is an ordered sequence of items. The items provided in python list do not need to be of the same type.Which means items of different data types can be included in a Python Lis. It is one of the most used datatype in Python and is very flexible.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

In [ ]:
d=[1,2,3,'MrBriit',0.233,'anything else']

In [ ]:
type(d)

list

###**Python Tuple**

Tuple is an ordered sequence of items similar to a list as discussed above. The only difference is that tuples are immutable. That's, once created, cannot be modified.

It is defined within parentheses () where items are separated by commas.

In [ ]:
e=(1,2,3,'MrBriit',0.233,'anything else')

In [ ]:
type(e)

tuple

In [ ]:
#let's change some items in List d

d[3]='James'

In [ ]:
d

[1, 2, 3, 'James', 0.233, 'anything else']

In [ ]:
#let's change an item in Tuple e

e[3]='Akash'

TypeError: ignored

oops! we got an error. We cannot change the items in a Tuple

###**Python Strings**(str)

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, **' ' '** or **" " "**.

In [ ]:
f='mrbriit'

In [ ]:
type(f)

str

In [ ]:
g="August"

In [ ]:
type(g)

str

###**Python Set**

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }.

In [ ]:
h={1,2,3,15,0.5,7}

In [ ]:
type(h)

set

###**Python Dictionary**

Dictionary is an unordered collection of key-value pairs.

Mostly used when dealing with huge amounts of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form **key:value**.

Key and value can be of any type.

In [ ]:
dict={'Name':'MrBriit','Color':'Blue','Shoe Size':43}

In [ ]:
type(dict)

dict

In [ ]:
dict['Name']

'MrBriit'

In [ ]:
dict['Shoe Size']

43

In [ ]:
dict['Color']

'Blue'

<br>

<br>

#**Working With Python Data types**

##*NB: For a step-by-step video explanation to these concept, [refer here](https://datamentor.ai)*

**First thing first**

Difference between Numeric and Discrete values.

Data can be Descriptive (like "high" or "fast") or Numerical (numbers).

**Numerical Data** can be Discrete or Continuous:
1. Discrete data is ***counted***,
2. Continuous data is ***measured***.


***Discrete Data*** can only take certain values.

E.g. the number of students in a class.

We can't have half a student!


***Continuous Data*** can take any value (within a range, say 0-7 feet)

Examples:

A person's height: could be any value

<br>

###**Feature Engineering on Numeric Data**

Here, by numeric data, we mean continuous data and not discrete data which is typically represented as categorical data.

Integers and floats are the most common and widely used numeric data types for continuous numeric data. You can directly feed numeric data into machine learning algorithms to build models, however, it is advisable for you to engineer the features properly before continuing to build your model, and these feature engineering typically differs and are done according to the scenario, problem and domain. Hence domain knowledge is mostly important in these kind of cases.

The goal of feature engineering for a numeric variable is to find a better way(greater validity, better predictive power, and improved interpretation) of representing the numeric variable in the model.

Let's perform some *feature engineering on numeric data* using the various datasets as shown below

In [ ]:
#import the required libraries

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# import scipy.stats as spstats
# %matplotlib inline

In [ ]:
#load the dataset

df = pd.read_csv('/content/Pokemon.csv', encoding='utf-8')

In [ ]:
df.head() #let's see the firt 5 rows or records or observations

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

In [ ]:
df.shape

(800, 13)

Our datset contains **800 records or observations** and **13 features or variables**

<br>

We can see from the above dataframe that several attributes represent numeric raw values which can be used directly to perform analysis on or build a machine learning model.

For example:

In [ ]:
df[['HP',	'Attack',	'Defense',	'Sp. Atk',	'Sp. Def',	'Speed'	]]

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0    45      49       49       65       65     45
1    60      62       63       80       80     60
2    80      82       83      100      100     80
3    80     100      123      122      120     80
4    39      52       43       60       50     65
..   ..     ...      ...      ...      ...    ...
795  50     100      150      100      150     50
796  50     160      110      160      110    110
797  80     110       60      150      130     70
798  80     160       60      170      130     80
799  80     110      120      130       90     70

[800 rows x 6 columns]

In [ ]:
df.describe().T

            count       mean         std    min     25%    50%     75%    max
#           800.0  362.81375  208.343798    1.0  184.75  364.5  539.25  721.0
Total       800.0  435.10250  119.963040  180.0  330.00  450.0  515.00  780.0
HP          800.0   69.25875   25.534669    1.0   50.00   65.0   80.00  255.0
Attack      800.0   79.00125   32.457366    5.0   55.00   75.0  100.00  190.0
Defense     800.0   73.84250   31.183501    5.0   50.00   70.0   90.00  230.0
Sp. Atk     800.0   72.82000   32.722294   10.0   49.75   65.0   95.00  194.0
Sp. Def     800.0   71.90250   27.828916   20.0   50.00   70.0   90.00  230.0
Speed       800.0   68.27750   29.060474    5.0   45.00   65.0   90.00  180.0
Generation  800.0    3.32375    1.661290    1.0    2.00    3.0    5.00    6.0

####**Rounding**

.

In most of the cases, when dealing with *continuous numerical values*, you might want cut off the many decimal points and *round* your values on a scale of **1-10** or **1-100**.

Let's see how we will do that below.

In [ ]:
item_df = pd.read_csv('/content/item_popularity.txt', encoding='utf-8')

In [ ]:
item_df.head()

    item_id  pop_percent
0  it_01345      0.98324
1  it_03431      0.56123
2  it_04572      0.12098
3  it_98021      0.35476
4  it_01298      0.92101

Let's round the **pop_percent** on a scale of **1-10** and also **1-100**.

In [ ]:
0.98324*10

9.8324

In [ ]:
np.round(0.98324*10)

10.0

In [ ]:
item_df['pop_percent(1-10)'] = np.array(
                   np.round((item_df['pop_percent'] * 10)),
                   dtype='int')


item_df['pop_percent(1-100)'] = np.array(
                  np.round((item_df['pop_percent'] * 100)),
                  dtype='int')
item_df

    item_id  pop_percent  pop_percent(1-10)  pop_percent(1-100)
0  it_01345      0.98324                 10                  98
1  it_03431      0.56123                  6                  56
2  it_04572      0.12098                  1                  12
3  it_98021      0.35476                  4                  35
4  it_01298      0.92101                  9                  92
5  it_90120      0.81212                  8                  81
6  it_10123      0.56502                  6                  57

We can therefore use these values both as numerical or categorical features based on the business problem and objective.

##From **Continous** To **Categorical**

###**Counts**

Let's talk about numerical datasets which talk about **Counts or Frequencie** of items.

We will use the *millionsong dataset* which shows the **counts or frequencies** of songs which have been heard by various users.

In [ ]:
song=pd.read_csv('/content/song_views.txt',encoding='utf-8')
song.drop(['user_id','song_id'],axis=1,inplace=True)

In [ ]:
song.head(20)

             title  listen_count
0   You're The One             2
1   You're The One             0
2   You're The One             0
3   You're The One             0
4   You're The One             0
5   You're The One             0
6   You're The One            17
7   You're The One             0
8   You're The One            68
9   You're The One             0
10  You're The One             1
11  You're The One             0
12  You're The One             0
13  You're The One             0
14  You're The One             0
15  You're The One             0
16  You're The One            20
17  You're The One             0
18  You're The One             0
19  You're The One             1

From the above dataset, we can see a feature named as ***listen_count***, this feature shows the number of times a user has listened to a song.

What if according to our business problem statement, we are only interested in whether a person has listened to a particular song or not in order to make song recommendation?

In such a scenario, we will not need to know how many times the user has listened to the song, we just have to figure out whether or not the person has listened to the song.

We will therefore do what is called **Binarization**

<br>

###**Binarization**

Binarization is the process of transforming data features of any entity into vectors of binary numbers. Mostly used in transforming an image's gray-scale from the 0-255 spectrum to a 0-1 spectrum

**Manual Process**

In [ ]:
has_watched = np.array(song['listen_count'])

#let's make all values greater than or equal to (>=) 1 as 1.
#Tha's, all users that have listened to the song, either once or more are counted as "has_watched".
#Since those who have not watched are already marked as zero(0), there's no need to worry about them.

has_watched[has_watched >= 1] = 1

#add to the dataframe

song['has_watched'] = has_watched

In [ ]:
song.head(20)

             title  listen_count  has_watched
0   You're The One             2            1
1   You're The One             0            0
2   You're The One             0            0
3   You're The One             0            0
4   You're The One             0            0
5   You're The One             0            0
6   You're The One            17            1
7   You're The One             0            0
8   You're The One            68            1
9   You're The One             0            0
10  You're The One             1            1
11  You're The One             0            0
12  You're The One             0            0
13  You're The One             0            0
14  You're The One             0            0
15  You're The One             0            0
16  You're The One            20            1
17  You're The One             0            0
18  You're The One             0            0
19  You're The One             1            1

<br>

**Scikit-learn:** Binarizer

Scikit-learn's Binarizer will also help us to achieve the same thing.

In [ ]:
#import the Binarizer library
from sklearn.preprocessing import Binarizer

bin = Binarizer(threshold=0.9)
Scikit_has_watched = bin.transform([song['listen_count']])[0]
song['Scikit_has_watched'] = Scikit_has_watched

In [ ]:
song.head(20)

             title  listen_count  has_watched  Scikit_has_watched
0   You're The One             2            1                   1
1   You're The One             0            0                   0
2   You're The One             0            0                   0
3   You're The One             0            0                   0
4   You're The One             0            0                   0
5   You're The One             0            0                   0
6   You're The One            17            1                   1
7   You're The One             0            0                   0
8   You're The One            68            1                   1
9   You're The One             0            0                   0
10  You're The One             1            1                   1
11  You're The One             0            0                   0
12  You're The One             0            0                   0
13  You're The One             0            0                   0
14  You're The One             0            0                   0
15  You're The One             0            0                   0
16  You're The One            20            1                   1
17  You're The One             0            0                   0
18  You're The One             0            0                   0
19  You're The One             1            1                   1

###**Binning/Quantization or Bucketing**

Logically some songs will have range of values higher than other. That is, some songs have more number of views than others and therefore the count range will be skewed. This will make some of the values occur more frequently than others.

Binning/Quantization is used for transforming continuous numeric features into discrete ones (categories).

We create categories or bins and then put the raw, continuous numeric values into these bins or groups.

Let's see how we do this with an example.

In [ ]:
fcc=pd.read_csv('/content/fcc_2016.csv',encoding='utf-8')

In [ ]:
fcc.head()

                               ID.x  ...  StudentDebtOwe
0  cef35615d61b202f1dc794ef2746df14  ...         20000.0
1  323e5a113644d18185c743c241407754  ...             NaN
2  b29a1027e5cd062e654a63764157461d  ...             NaN
3  04a11e4bcb573a1261eb0d9948d32637  ...          7000.0
4  9368291c93d5d5f5c8cdb1a575e18bec  ...             NaN

[5 rows x 15 columns]

Let's select some features to work with.

In [ ]:
selected_fcc=fcc[['CountryCitizen','Gender','Age','Income']]
selected_fcc

                 CountryCitizen  Gender   Age   Income
0      United States of America    male  28.0  32000.0
1      United States of America    male  22.0  15000.0
2      United States of America    male  19.0  48000.0
3      United States of America  female  26.0  43000.0
4      United States of America  female  20.0   6000.0
...                         ...     ...   ...      ...
15615                     Kenya    male  39.0  10000.0
15616                     India    male  27.0  10000.0
15617                   Nigeria    male  37.0  48000.0
15618                     Spain    male  26.0  10000.0
15619         Trinidad & Tobago  female  22.0  18000.0

[15620 rows x 4 columns]

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#set the bin range and the bin labels or names
bin_ranges = [0, 20, 40,60, 80, 100]
bin_names = [1, 2, 3, 4, 5]

selected_fcc['Age_bin'] = pd.cut(
                                  np.array(
                                  selected_fcc['Age']),
                                  bins=bin_ranges)
selected_fcc['Age_bin_label'] = pd.cut(
                                       np.array(
                                       selected_fcc['Age']),
                                       bins=bin_ranges,
                                       labels=bin_names)

In [ ]:
# view the binned features
selected_fcc.tail(20)

                 CountryCitizen  Gender   Age    Income   Age_bin Age_bin_label
15600  United States of America  female  28.0  200000.0  (20, 40]             2
15601  United States of America    male  25.0  200000.0  (20, 40]             2
15602                     India    male  22.0  200000.0  (20, 40]             2
15603  United States of America    male  33.0  200000.0  (20, 40]             2
15604                  Portugal    male  35.0  200000.0  (20, 40]             2
15605                  Portugal    male  31.0  200000.0  (20, 40]             2
15606                    Canada    male  43.0  200000.0  (40, 60]             3
15607               Philippines    male  25.0  200000.0  (20, 40]             2
15608  United States of America    male  43.0  200000.0  (40, 60]             3
15609                    Mexico    male  33.0  200000.0  (20, 40]             2
15610  United States of America    male  29.0  200000.0  (20, 40]             2
15611                     India    male  37.0  200000.0  (20, 40]             2
15612  United States of America  female  45.0  200000.0  (40, 60]             3
15613              South Africa    male  30.0  200000.0  (20, 40]             2
15614  United States of America    male  47.0   26000.0  (40, 60]             3
15615                     Kenya    male  39.0   10000.0  (20, 40]             2
15616                     India    male  27.0   10000.0  (20, 40]             2
15617                   Nigeria    male  37.0   48000.0  (20, 40]             2
15618                     Spain    male  26.0   10000.0  (20, 40]             2
15619         Trinidad & Tobago  female  22.0   18000.0  (20, 40]             2

You can also use [qcut](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.qcut.html) to achieve the same

We will learn more as we progress such as [Feature Transformation](https://colab.research.google.com/drive/1T5qRb3z9eeeuPx7CuWki4uz4sOGw3U8u?usp=sharing), Standardization and Normalisation,




NB: add feature transformation link

datasets used:

![image.png]()